@model IdeaCreator.Models.CreateRoleModel

@{
    ViewBag.Title = "Create";
}

<div style="margin-top:70px"></div>
<h2>Додавання ролі</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        <p>Название:  @Html.EditorFor(model => model.Name)</p>
        <p>Описание: @Html.EditorFor(model => model.Description)</p>
        <p><input type="submit" value="Додати" /></p>
    </div>
}

